@charset"UTF-8";


body{
	font-family: Arial, Helvetica, sans-serif;
	background-color: #F6FCCF;
		}
	h1{
		font-size: 30pt;
		background-color: #DBAA39;
		color: darkred;
		
		}
	h2{
		font-size: 23pt;
		color: darkred;
		}
	p{
		font-size: 16pt;
	}

		