@charset "UTF-8";
@font-face {
	font-family:'idroid';
	src: url('fontes/idroid.otf') format('opentype');
}
	
body {
	margin: 0;
	padding: 0;
	background: #2CFA74;
}
	header {
	max-width: 100%;
	margin: 0 auto;
	background-image: linear-gradient(to bottom, #1FE063, #0E612B);
}
	nav {
		position: relative;
	}
	
	.navlinks {
		display:block;
		position:relative;
		margin: 5px;
		padding: 5px;
	}
	
	.navlinks:hover{
		color: black;
		background: rgb(82, 234, 163, 0.4);
		border-radius: 10px;
		text-decoration: underline;
		transition-duration: .5s;
		text-shadow: none;
	}
		
	.ulheader {
		display: flex;
		list-style-type: none;
	}

	main {
		background: white;
		padding: 10px;
		border-radius: 10px;
		max-width: 800px;
		margin: 0 auto;
	}

	.text-color {
		color:white;
		text-shadow: 1px 1px 1px black;
	}
	
	.text-align-center {
		text-align: center;
	}

	.text-align-left{
		text-align: left;
	}
	h1 {
	font-family: cursive;
	padding: 25px;
	margin: 0;
	text-shadow: 2px 2px 5px black;
	}
	
	h2 {
		background-image: linear-gradient(to right, rgb(44,250,116,0.5), white);
		color: #0E612B;
		font-family:'idroid';
		text-shadow: 2px 2px 2px  black;
		padding-left: 5px;
		padding-bottom: 2px;
	}
	
	img,iframe {
		display:block;
		max-width: 100%;
		margin: 0 auto;
	}
	
	iframe {
		padding-left: auto;
		padding-top: 10px;
		padding-bottom: 10px;
	}
		

	
	.h3main {
		color: #0E612B;
		background-image: linear-gradient(to right, rgb(44,250,116,0.5), white);
		font-family:'idroid';
		text-shadow: 2px 2px 2px  black;
		padding-left: 5px;
		padding-bottom: 2px;

	}
	
	.h3aside {
		color: white;
		background: #0E612B;
		max-width: 100%;
		margin: 0 auto;
		border-radius: 30px 30px 0 0;
		padding: 10px;
		text-shadow: 2px 2px 2px  black;
	}
	
	.aside1{
		background: #0E612B;
		max-width: 100%;
		margin: 0px auto;
	}
	
	.aside2{
		background: rgb(11,230,127,0.3);
		max-width: 100%;
		margin: 10px auto;
		border-radius: 30px;
	}
	
	.p-aside { 
		max-width: 100%;
		margin: 0 auto;
		padding: 10px 5px 15px 15px;
		text-align: left;
	}
	
	footer {
		background: #39704C;
	}
	
	.p-footer{
		margin-bottom:0 ;
	}
	
	.ul-aside{
		list-style-type: none;
		columns: 3;
	}
	
	.ul-aside li::before{
		content:'✔️';
	}
	
		
		
	
	
